<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            margin: auto;
            padding: 20px;
            max-width: 720px;
            text-align: left;
            background-color: white;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    </style>
</head>

<body>
    <h1>Welcome</h1>
    <p>If you see this page, don't know what to do..</p>

    <p><em>Commit : {{ .commit }}, serve from : {{ .hostname }}.</em></p>
    <p>/ᐠ ̥ ̮ ̥ ᐟ\ฅ</p>
</body>

</html>